/* MUDBLAZOR CUSTOMISATIONS */
html, body {
    --mud-palette-action-default-hover: rgba(41, 112, 255, 0.15);
}
.mud-simple-table table * tr > th{
    font-weight: 700;
}
.mud-table-root .mud-table-head .mud-table-cell {
    font-weight: 700;
}
.mud-link-underline-hover:hover {
    text-decoration: none !important;
    color: #ff4081ff !important; /* secondary text colour */
    transition: color 0.3s !important;
}

.mud-main-content {
    padding-top: 0;
}

/* JIM CUSTOM */
.jim-header-title {
    font-weight: 300;
}

.jim-no-wrap {
    white-space: nowrap;
}

.jim-text-code {
    font-family: "Lucida Console", "Courier New", monospace;
}

.jim-drawer-logo img {
    vertical-align: middle;
}
.jim-drawer-logo p {
    margin: 4px 0 0 10px;
    font-weight: 700;
    font-size: 1.2rem;
    vertical-align: text-top;
    color: var(--mud-palette-text-secondary);
}

.jim-drawer-container {
    margin: 0 20px 0 20px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: var(--mud-palette-lines-default);
    padding: 5px 0 5px 0;
}

.jim-drawer-container-small {
    margin: 0 6px 0 6px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: var(--mud-palette-lines-default);
    padding: 5px 0 5px 0;
}