<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        <form class="form-inline" action="/signout" method="get">
            <button type="submit" class="nav-link btn btn-link">Sign-out</button>
        </form>
    </Authorized>
</AuthorizeView>