<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">JIM.Web</a>
        <button title="Navigation menu" class="navbar-toggler" >
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div >
    <nav class="flex-column">        
        
        @*<div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house me-3"></i> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users">
               <i class="bi bi-person-circle me-3"></i> Users
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="groups">
                <i class="bi bi-circle me-3"></i> Groups
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin">
                <i class="bi bi-gear-wide me-3"></i> Admin
            </NavLink>
        </div>*@

        <ul class="list-unstyled px-3 pt-3">

          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
              Home
            </button>
            <div class="collapse show" id="home-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-dark rounded">Overview</a></li>
              </ul>
            </div>
          </li>

          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#users-collapse" aria-expanded="true">
              Users
            </button>
            <div class="collapse show" id="users-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-dark rounded">People</a></li>
                <li><a href="#" class="link-dark rounded">Service Principals</a></li>
              </ul>
            </div>
          </li>

          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#groups-collapse" aria-expanded="true">
              Groups
            </button>
            <div class="collapse show" id="groups-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-dark rounded">Security Groups</a></li>
                <li><a href="#" class="link-dark rounded">Distribution Groups</a></li>
              </ul>
            </div>
          </li>

          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
              Dashboard
            </button>
            <div class="collapse show" id="dashboard-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-dark rounded">Overview</a></li>
                <li><a href="#" class="link-dark rounded">Weekly</a></li>
                <li><a href="#" class="link-dark rounded">Monthly</a></li>
                <li><a href="#" class="link-dark rounded">Annually</a></li>
              </ul>
            </div>
          </li>

          <li class="border-top my-3"></li>
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#admin-collapse" aria-expanded="false">
              Admin
            </button>
            <div class="collapse show" id="admin-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-dark rounded">Schema</a></li>
                <li><a href="#" class="link-dark rounded">Connected Systems</a></li>
                <li><a href="#" class="link-dark rounded">Synchronisation Rules</a></li>
                <li><a href="#" class="link-dark rounded">Metaverse</a></li>                
                <li><a href="#" class="link-dark rounded">Settings</a></li>
              </ul>
            </div>
          </li>
        </ul>

    </nav>
</div>

