.navbar {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    background-color: #eef2f6;
    background-color: lawngreen;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

.navbar-brand {
    font-size: 1.1rem;
    color: #0f5132;
    font-family: 'Segoe UI Semibold', 'Arial Narrow', Arial, sans-serif;
    margin-right: 0;
    margin-top: 5px;
}

.sidebar-nav-collapse {
    display: none;
}

@media (min-width: 641px) {
    .navbar .container-fluid {
        justify-content: normal;
    }

    .navbar-brand {
        margin-left: 10px;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar-nav-collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.logo-box {
    /*padding-left: 20px;*/
    font-weight: bold;
    background-color: aquamarine;
    padding-bottom: 5px;
}
    .logo-box span {
        /*margin-left: 10px;*/
        font-family: 'Segoe UI Semibold', 'Arial Narrow', Arial, sans-serif;
    }