.jim-top-bar {
    padding-left: 15px;
    padding-right: 15px;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 3.5rem;
    /*background-color: #eff2f6;*/
    background-color: #f6f9fc;
}

    .jim-top-bar header {
        height: 3.5rem;
    }

    .jim-top-bar input {
        width: 350px;
    }

    .jim-top-bar div {
        padding-top: 1rem;
    }
