@page "/admin/example-data"
@attribute [Authorize(Roles = "Administrators")]

<PageTitle>Example Data</PageTitle>

<h1>Example Data</h1>

You can quickly fill JIM with example data, as a way to demo JIM or prototype new features without needing to fuly configure JIM with Connected Systems, Rules Extensions and wait for data to be imported and synchronised etc.

