@page "/admin/schema/object-types/{Id:int}"
@attribute [Authorize(Roles = "Administrators")]
@using JIM.Application
@using JIM.Models.Core
@inject JimApplication Jim
@inject NavigationManager NavManager

<PageTitle>Metaverse Object Type: @metaverseObjectType?.Name</PageTitle>
<h1><span class="text-muted">Metaverse Object Type:</span> @metaverseObjectType?.Name</h1>

@if (metaverseObjectType != null)
{
    <div class="box">
        <table>
            <tr>
                <td class="light pe-3">Created:</td>
                <td><span class="font-monospace">@metaverseObjectType.Created</span></td>
            </tr>
            <tr>
                <td class="light pe-3">Built-in?</td>
                <td><span class="font-monospace">@(metaverseObjectType.BuiltIn ? "Yes" : "No")</span></td>
            </tr>
        </table>
    </div>

    <div class="box mt-3">
        <h6>Attributes:</h6>
        <div class="light mb-3">These are the attributes bound to the type:</div>
        @foreach (var metaverseAttribute in metaverseObjectType.Attributes)
        {
            <span class="badge badge-outline badge-bigger bg-light text-dark">@metaverseAttribute.Name</span>
        }
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private JIM.Models.Core.MetaverseObjectType? metaverseObjectType;

    protected override async Task OnInitializedAsync()
    {
        metaverseObjectType = await Jim.Metaverse.GetMetaverseObjectTypeAsync(Id, true);
        if (metaverseObjectType == null)
        {
            // object type not found, redirect to index page
            NavManager.NavigateTo("../");
            return;
        }
    }
}