@page "/admin/schema/object-types/{Id:int}"
@attribute [Authorize(Roles = "Administrators")]
@using JIM.Application
@using JIM.Models.Core
@inject JimApplication Jim
@inject NavigationManager NavManager

<PageTitle>Metaverse Object Type: @metaverseObjectType?.Name</PageTitle>
<MudText Typo="Typo.h4" Class="mt-5"><span class="mud-secondary-text">Metaverse Object Type:</span> @metaverseObjectType?.Name</MudText>

@if (metaverseObjectType != null)
{
    <MudText Typo="Typo.h5" Class="mt-5">Details</MudText>
    <MudPaper Class="pa-5 mt-5" Outlined="true">
        <MudGrid>
            <MudItem xs="12" sm="6" md="4">
                <MudField Label="Created" Variant="Variant.Text">@metaverseObjectType.Created</MudField>
            </MudItem>
            <MudItem xs="12" sm="6" md="4">
                <MudField Label="Built-in?" Variant="Variant.Text">@(metaverseObjectType.BuiltIn ? "Yes" : "No")</MudField>
            </MudItem>
        </MudGrid>
    </MudPaper>

    <MudText Typo="Typo.h5" Class="mt-5">Attributes</MudText>
    <MudText Typo="Typo.subtitle1">These are the attributes bound to the metaverse object type:</MudText>

    <MudPaper Class="pa-5 mt-5 mb-5" Outlined="true">
        @foreach (var metaverseAttribute in metaverseObjectType.Attributes)
        {
            <MudChip Variant="Variant.Filled" Color="Color.Primary">@metaverseAttribute.Name</MudChip>
        }
    </MudPaper>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private JIM.Models.Core.MetaverseObjectType? metaverseObjectType;

    protected override async Task OnInitializedAsync()
    {
        metaverseObjectType = await Jim.Metaverse.GetMetaverseObjectTypeAsync(Id, true);
        if (metaverseObjectType == null)
        {
            // object type not found, redirect to index page
            NavManager.NavigateTo("../");
            return;
        }
    }
}