@page "/user-not-found"
@using System.Security.Claims
@using JIM.Application
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject JimApplication Jim

<h1 class="display-6">User Not Found</h1>
<p>Apologies, we couldn't find you in our database. Please ask your Service Desk or JIM administrator to look into this.</p>
<h6>Technical Information</h6>
<ul>
    <li>User name: @userName</li>
    <li>User claim <span class="code">@ssoClaimType</span> value: <span class="code">@userUniqueIdClaimValue</span></li>
</ul>

Could not map this claim to a Metaverse user. Please check the exists in JIM and has a value for the SSO Metaverse attribute.

@code {
    private string userName;
    private string ssoClaimType;
    private string userUniqueIdClaimValue;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        userName = user.Identity.Name;

        var serviceSettings = await Jim.ServiceSettings.GetServiceSettingsAsync();
        ssoClaimType = serviceSettings.SSOUniqueIdentifierClaimType;
        var c = user.Claims.FirstOrDefault(c => c.Type == ssoClaimType);
        if (c != null)
            userUniqueIdClaimValue = c.Value;        
    }
}